{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{
            text-align: center;
            font-size: 50px;
            padding: 30px;
        }
        p{
            float: center;
            padding: 80px;
            font-weight: bold;
        }
    </style>
    <meta charset="UTF-8">
    <title>Contact Info</title>
</head>
<body>
    <h1> How do you contact me? </h1>
    <p>The best way to contact me is sending email to my email address (juho.korhonent@gmail.com). You can also send a message to my email through the form below this text.
        If you want to message me on my social medias instead, the buttons are above.
    If you have a job offering i would prefer for you to send a gmail. If you want to contact me about something else i prefer my social medias,
        but gmailing are fine also. Feel free to also dm me on discord (Alpha Q#4542), I look forward to hearing from you! </p>

    <p>send gmail</p>
</body>
</html>
{% endblock %}